<form class="form-horizontal" ng-controller="settingsController" ng-submit="submit()">
<fieldset>

<!-- Form Name -->
<legend>Releaser Settings</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="gallonsPerFullDump">Gallons Per Full Dump</label>
  <div class="controls">
    <input ng-model="gallonsPerFullDump" name="gallonsPerFullDump" type="text" class="input-mini" required="">
    <p class="help-block">The number of gallons per full dump of this releaser</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="numberOfTaps">Number of Taps</label>
  <div class="controls">
    <input ng-model="numberOfTaps" name="numberOfTaps" type="text" class="input-mini" required="">
    <p class="help-block">The number of taps feeding into this releaser</p>
  </div>
</div>

  <button>Submit</button>
</fieldset>
</form>
